#navbar {
  background-color: #3fb6f5;
}

.btn {
  background-color: #3fb6f5;
  color: white;
  height: 60px;
}

#header {
  background-color: #6ec7f7;
}

#img1 {
  padding-top: 50px;
  padding-left: 50px;
}
hr {
  height: 1px;
  background-color: rgb(65, 64, 64);
}
#body {
  background-color: #6ec7f7;
  padding-top: 10px;
}
#img-context {
  padding-bottom: 20px;
}
